:root {
    /* FONTES */
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-p: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* NAV BAR */
    --nav-background-color: white;
    --nav-color-border: #ccc;
    --nav-color-a: #182240;
    --nav-color-hover: #7D89A1;

    /* Search Bar */
    --background-color-btn: #3698D4;
    --color-btn: white;

}